<section class="wrapper style5">
    <div class="inner">
            <div class="16u">
    <!-- Carousel wrapper -->
    <div
      id="hellscanyon"
      class="carousel slide carousel-fade"
      data-mdb-ride="carousel"
    >
          <!-- Inner -->
          <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
              <img
                src="assets/images/hells_canyon_river.jpg"
                class="d-block w-100"
                alt=""
              />
              <div class="carousel-caption d-none d-md-block">
                  <h5 style="color: white">Hells Canyon</h5>
              </div>
        </div>
        <!-- Single item -->
        <div class="carousel-item">
              <img
                src="assets/images/pittsburgh_landing.jpg"
                class="d-block w-100"
                alt=""
              />
              <div class="carousel-caption d-none d-md-block">
                  <h5 style="color: white">Hells Canyon</h5>
              </div>
        </div>
         <!-- Single item -->
        <div class="carousel-item">
            <img
              src="assets/images/hellscanyon.jpg"
              class="d-block w-100"
              alt=""
            />
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: white">Hells Canyon</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img
              src="assets/images/hells_canyon_grass.jpg"
              class="d-block w-100"
              alt=""
            />
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: white">Hells Canyon</h5>
            </div>
        </div>
        <div class="carousel-item">
          <img
            src="assets/images/hells_canyon_kirkwood.jpg"
            class="d-block w-100"
            alt=""
          />
          <div class="carousel-caption d-none d-md-block">
              <h5 style="color: white">Hells Canyon</h5>
          </div>
      </div>         
    </div>
      <!-- Inner -->
        <!-- Indicators -->
    <div class="carousel-indicators">
        <button
          type="button"
          data-mdb-target="#hellscanyon"
          data-mdb-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-mdb-target="#hellscanyon"
          data-mdb-slide-to="1"
          aria-label="Slide 2"
        ></button>
       <button
          type="button"
          data-mdb-target="#hellscanyon"
          data-mdb-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-mdb-target="#hellscanyon"
          data-mdb-slide-to="3"
          aria-label="Slide 4"
        ></button>
        <button
          type="button"
          data-mdb-target="#hellscanyon"
          data-mdb-slide-to="4"
          aria-label="Slide 5"
        ></button>
    </div>
      <!-- Controls -->
    <button
        class="carousel-control-prev"
        type="button"
        style="box-shadow:none; border:none"
        data-mdb-target="#hellscanyon"
        data-mdb-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        style="box-shadow:none; border:none"
        data-mdb-target="#hellscanyon"
        data-mdb-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
        </div>
    </div>
    </section>