<section>
	<div class="box alt">
		<div class="row uniform 50%">
			<div class="4u">
				<div class="monitor-wrapper">
					<div class="monitor-image">
						<span class="image fit nomargin">
							<img src="assets/images/soil_monitor/phineas.jpg" alt="" />
						</span>
					</div>
					<div id="phineas" class="monitor-data">
						<p>Soil moisture level
							<button id = "phineas_button" class="moisture-indicator">
								0%
							</button>
						</p>
						<p id="phineas_time">Last updated:</p>
					</div>
				</div>
			</div>
			<div class="4u">
				<div class="monitor-wrapper">
					<div class="monitor-image">
						<span class="image fit nomargin">
							<img src="assets/images/soil_monitor/charlotte.jpg" alt="" />
						</span>
					</div>
					<div id="charlotte" class="monitor-data">
						<p>Soil moisture level
							<button id="charlotte_button" class="moisture-indicator">
								0%
							</button>
						</p>
						<p id="charlotte_time">Last updated:</p>
					</div>
				</div>
			</div>
			<div class="4u">
				<div class="monitor-wrapper">
					<div class="monitor-image">
						<span class="image fit nomargin">
							<img src="assets/images/soil_monitor/oliver.jpg" alt="" />
						</span>
					</div>
					<div id="oliver" class="monitor-data">
						<p>Soil moisture level
							<button id="oliver_button" class="moisture-indicator">
								0%
							</button>
						</p>
						<p id="oliver_time">Last updated:</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

