<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>{{section-one-header}}</h2>
			{{section-one-content}}
		</header>
		<ul class="icons major">
			<li><a href="soilmonitor.html" id="icon-button-link"><span id="icon-button" class="icon fa-pagelines major style1"><span class="label">Lorem</span></span></a>
			</li>
			<li><a href="gallery.html" id="icon-button-link"><span id="icon-button" class="icon fa-camera major style1"><span class="label">Ipsum</span></span></a>
			</li>
		</ul>
	</div>
</section>
